/*

Colour Palette
FAF6F0
F3EEEA
EBE3D5
B0A695
776B5D
000000
*/

/* Reset */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  text-decoration: none;
}
/* End reset */

html, body {
  background-color: #FAF6F0;
}

#wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

nav {
  background-color: #EBE3D5;
  height: 10vh;
}

nav>ul {
  display: flex;
  justify-content: center;
}

nav>ul>li {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1.8rem;
  margin-right: 1.5rem;
}

nav>ul>li>a {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  color: black;
  display: flex;
  justify-content: space-evenly;
  font-size: 2rem;
}

.logo {
  position: relative;
  top: -10px;
  left: -10px;
}

nav>ul>li>a:hover {
  text-decoration: underline;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content > img {
  margin-top: 3em;
  border: none;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.content h1 {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1em;
  font-size: 3em;
}

.content > p {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "width" 100;
  margin: 2em 0;
  display: block;
  font-size: 1.3em;
  width: 800px;
  text-align: center;
}

footer>nav {
  height: 4em;
}

footer>nav>ul>li>a {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer>nav>ul>li>a:hover {
  text-decoration: none;
}

#attributions > a {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 0.8rem;
  color: #EBE3D5;
}

/* menus */

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.menu-item {
  border: 1px solid #B0A695;
  border-radius: 10px;
  margin: 3em;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.menu-item > img {
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  width: 20em;
  height: 15em;
}

.menu-item > h2 {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "width" 100;
  color: #776B5D;
  margin: 1em 0;
  font-size: 1.5em;
}

.menu-item > p {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "width" 100;
  color: #B0A695;
  margin-bottom: 1em;
  font-size: 1.2em;
  font-weight: 200;
}

/* media queries */

@media screen and (max-width: 680px) {
  .content > img { 
    object-fit: cover;
    max-width: 300px;
    margin-top: 1em;
    border-radius: 0.5em;
  }

  .content h1 {
    font-size: 2em;
  }

  .content > .lede {
    width: 300px;
  }

  .menu-item {
    margin-top: 0;
  }
}

@media screen and (max-width: 810px) {
  .content > img { 
    object-fit: cover;
    max-width: 700px;
    margin-top: 1em;
    border-radius: 0.5em;
  }

  .content h1 {
    font-size: 3em;
  }

  .content > .lede {
    width: 700px;
    font-size: 1.3em;
  }

  .menu-item {
    margin-top: 0;
  }
}
